body{
    background-color: white;
}
.inline-styles{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),url('../src//assets//navbar_image.jpg') 100% / cover no-repeat;
}
#h1tag{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#h3tag{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}